@charset "UTF-8";

:root{
    /* Orange #EA7100 */
    /* White #FBFCFF */
    --primary-color: #EA7100;
    --orange:#EA7100;
    --white: #FBFCFF;
    --bg-dark:#171717;
    --bg-grey:#1D1D1F;
    --grey-text:#6A6C72;
    --black-text:#161616;
}


@font-face {
    font-family: "inter-font";
    src: url(assets/RasmusAndersson-Inter/1593443255914-Inter-V.ttf);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to bottom  (var(--primary-color) ,var(--white)));
    font-family: "inter-font";
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    margin-top: -10px;
    background-color: var(--primary-color);
}

h1{
    color:var(--white);
    text-align: center;
    font-family: "inter-font";
    font-size: 30px;
    letter-spacing: 1px;
    padding-top: 0px;
}

#container-dollar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;    
    text-align: center;
    width:96.9vw;
    height: 60vh;    
    padding:40px 1.55vw;
    background: var(--white);
    font-size: 21px;
    font-weight: 600;
    color: var(--white);
}

#inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 0px;
    gap: 10px;
    margin-bottom: 50px
}

input[type="number"]{
    height: 30px;
    background: transparent;
    border: none;
    outline: 1px solid #333333;
    border-radius: 5px;
    margin: 10px;
    color: var(--black-text);
    text-align:center;
    font-family: "inter-font";
    font-size: 16px;
}

form{
    text-align: left;
    font-size: 16px;
    color: var(--grey-text);
}

input[type="radio"]{
    height: 15px;
    background: transparent;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-family: "inter-font";
}

input:hover{
    box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.521);
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
    appearance: textfield;
}

#pretax, #result, #result2, #result3, #result4{
    font-weight: 400;
    color: var(--grey-text);
    margin: 5px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px;
    height: 35px;
    border-radius:100px;
    border: none;
    background:var(--primary-color);
    color: var(--white); 
    margin: 10px;
}

button:hover{
    cursor: pointer;
    box-shadow:0 0 3px 1px rgba(0, 0, 0, 0.521);
}

footer{
    color: #424245;
    font-size: 20px;
    background: var(--white);
    height: 75px;
}

#highlow{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size:smaller;
}

#dollar-high{
    color: rgb(255, 79, 68);
}

#dollar-low{
    margin: 0;
    color: rgb(30, 195, 55);
}

@media screen and (max-width: 690px){
    h1{
        font-size: 26px;
    }
    
    #container-dollar{
        justify-content: space-evenly;
        font-size: 18px;
        height: 50vh;    

    }

    #inputs{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 0;
    }

    input{
        height: 25px;
    }
    
    input[type="radio"]{
        height: 10px;
        background: transparent;
        border: none;
        border-radius: 5px;
        margin-bottom: -30px;
        font-family: "inter-font";
    }
    #result3{
        display: none;
    }
    #button{
        margin-top: -25px;
    }
}